html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    background-color: lightgray;
    scroll-behavior: smooth;
}

h1 {
    background-color: darkgreen;
    text-align: center;
    color: white;
}

h2 {
    background-color: limegreen;
    text-align: center;
    color: black;
}

.h1bleu {
    background-color: darkblue;
}

.h2bleu {
    background-color: cyan;
}

.orange {
    color: rgb(255, 136, 0);
}

.rouge {
    color: red;
}

.vert {
    color: green;
}

.visible {
    background-color: lawngreen;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 10px;
}